<div class="container">

  <p><b> Name: </b> <%= @customers.name %> </p>

  <p><b> Address: </b> <%= @customers.address %> </p>

  <p><b> Phone-no: </b> <%= @customers.phone_no %> </p>

  <p><b> Email: </b> <%= @customers.email%> </p>

</div>