<div class="container">

<p><b> Name: </b> <%= @suppliers.name %> </p>

<p><b> Address: </b> <%= @suppliers.address %> </p>

<p><b> Phone-no: </b> <%= @suppliers.phone_no %> </p>

<p><b> Email: </b> <%= @suppliers.email%> </p>

</div>